@import "../../shared/base.scss";
.cartListWrapper{
    min-height:100vh;
    max-width:calc(800px + 10vw);
    margin-bottom:2rem;
    padding:1rem;
        .cartList{
            max-width: 100%;
            list-style: none;
            padding:0;
            margin:1rem;
            li{
                margin:1rem 0;
            }
        }
        .cartTotal{
            display:flex;
            justify-content: flex-end;
            gap:1rem;
        
            .bold{
                font-weight: 600;
            }
        }
    
        .flexContainer{
            display: flex;
            justify-content: flex-end;
            .checkoutLink{
                text-decoration: none;
                border:1px solid $detail-light-gray;
                border-radius: $rounded-corners;
                padding:0.5rem; 
                color: black;
            }
        }

}

.emptyCart{
    height:100vh;
}
