@import "../../../shared/base.scss";
.button{
    width:calc(12rem - 5vw);
    height:1.5rem;
    border-radius: $rounded-corners;
    border:1px solid rgb(229, 224, 224);
    background-color: $bg-btn-light;
}