@import "../../shared/base.scss";

.navbar{
    height:10rem;
    background-color: black;
    color:white;
    padding:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .navLogo{
        font-family:$logo-font;
        font-size: $txt-m;
        margin:0;
    }
    
    a{
        text-decoration: none;
        color:white;
    }
    
    .rightNavPart{
        display: flex;
        align-items: center;
        gap:2rem;
        margin-right: calc(2px + 1.5vw);
    }
}